{% extends '/super_admin/base.html' %} {% block heading %} Departments {%
endblock %} {% block content %}

<div class="cardBox2">
  <a class="card" href="#">
    <div>
      <div class="numbers">{{department_count}}</div>
      <div class="cardName">Total Department Registered</div>
    </div>

    <div class="iconBx">
      <ion-icon name="folder-open-outline"></ion-icon>
    </div>
  </a>

  <a class="card" href="#dispatch">
    <div>
      <div class="numbers">{{unit_count}}</div>
      <div class="cardName">Total Unit Registered</div>
    </div>

    <div class="iconBx">
      <ion-icon name="paper-plane-outline"></ion-icon>
    </div>
  </a>
</div>

<!---------------------Dropdown-------------------------->
<div class="action-drop">
  <div class="drop-btn">
    <button id="dropdown">
      Actions <ion-icon name="chevron-down-outline"></ion-icon>
    </button>
  </div>
  <div class="dropdownMenu" id="dropdownMenu">
    <a href="{{url_for ('form1')}}">Register Department</a>
    <a href="{{url_for ('form2')}}">Register Unit</a>
    <a href="{{url_for('export_excel_stores')}}">Export</a>
  </div>
</div>

<!----------------------Search------------------------>
<div class="search-container">
  <form class="search" action="{{url_for ('department_search')}}" method="GET">
    <input type="search" name="search" id="search" placeholder="Search" />
    <input type="submit" value="Search" />
  </form>
</div>

<!-- ================ Order Details List ================= -->
<div class="details">
  <div class="recentOrders">
    <div class="cardHeader">
      <h2>Departments</h2>
    </div>

    <table>
      <thead>
        <tr>
          <td>ID</td>
          <td>Department Name</td>
          <td>HOD/HOU</td>
          <td>Action</td>
        </tr>
      </thead>

      <tbody>
        {% for department in departments %}
        <tr>
          <td>{{department.id}}</td>
          <td>{{department.department_name}}</td>
          <td>{{department.hod}}</td>
          <td class="action">
            <a
              href="{{ url_for('more_department', department_name=department.department_name) }}"
              class="btn"
              >Details</a
            >
            <a
              href="{{ url_for('delete_department', department_name=department.department_name) }}"
              class="delete"
              ><ion-icon name="close-outline"></ion-icon
            ></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
