{% extends '/super_admin/base.html' %} {% block heading %} Store Rent {%
endblock %} {% block content %}

<!----------------------Cards------------------------->
<div class="cardBox2">
  <a class="card" href="{{url_for('stores')}}">
    <div>
      <div class="numbers">{{total_store_count}}</div>
      <div class="cardName">Stores Rgeistered</div>
    </div>

    <div class="iconBx">
      <ion-icon name="storefront-outline"></ion-icon>
    </div>
  </a>

  <a class="card" href="{{url_for('stores')}}">
    <div>
      <div class="numbers">Ghs {{total_rent}}</div>
      <div class="cardName">Total Rent Recieved</div>
    </div>

    <div class="iconBx">
      <ion-icon name="cash-outline"></ion-icon>
    </div>
  </a>
</div>

<!----------------------Search------------------------>
<div class="search-container">
  <form class="search" action="{{url_for ('search')}}" method="GET">
    <input type="search" name="search" id="search" placeholder="Search" />
    <input type="submit" value="Search" />
  </form>
</div>

<!---------------------Dropdown-------------------------->
<div class="action-drop">
  <div class="drop-btn">
    <button id="dropdown">
      Actions <ion-icon name="chevron-down-outline"></ion-icon>
    </button>
  </div>
  <div class="dropdownMenu" id="dropdownMenu">
    <a href="{{url_for ('store_reg')}}">Add Store</a>
    <a href="{{url_for('export_excel_stores')}}">Export</a>
  </div>
</div>

<!-- ================ Order Details List ================= -->
<div class="details">
  <div class="recentOrders">
    <div class="cardHeader">
      <h2>Store Rent</h2>
    </div>

    <table>
      <thead>
        <tr>
          <td>ID</td>
          <td>Store Number</td>
          <td>Store Size</td>
          <td>Sector</td>
          <td>Nature Of Business</td>
          <td>Action</td>
        </tr>
      </thead>

      <tbody>
        {% for store in stores %}
        <tr>
          <td>{{store.id}}</td>
          <td>{{store.store_number}}</td>
          <td>{{store.store_size}}</td>
          <td>{{store.sector}}</td>
          <td>{{store.business}}</td>
          <td class="action">
            <a
              href="{{ url_for('more_stores', store_number=store.store_number) }}"
              class="btn"
              >Details</a
            >
            <a
              href="{{ url_for('delete_store', store_number=store.store_number) }}"
              class="delete"
              ><ion-icon name="close-outline"></ion-icon
            ></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
