{% extends '/super_admin/base.html' %} {% block heading %} Store Rent {%
endblock %} {% block content %}

<!----------------------Search------------------------>
<div class="search-container">
  <form class="search" action="{{url_for ('search')}}" method="GET">
    <input type="search" name="search" id="search" placeholder="Search" />
    <input type="submit" value="Search" />
  </form>
</div>

<!-- ================ Order Details List ================= -->
<div class="details">
  <div class="recentOrders">
    <div class="cardHeader">
      <h2>Store Rent</h2>
      <a href="{{url_for ('store_reg')}}" class="btn">Add Stores</a>
    </div>

    <table>
      <thead>
        <tr>
          <td>ID</td>
          <td>Store Number</td>
          <td>Store Size</td>
          <td>Sector</td>
          <td>Nature Of Business</td>
          <td>Action</td>
        </tr>
      </thead>

      <tbody>
        {% for store in stores %}
        <tr>
          <td>{{store.id}}</td>
          <td>{{store.store_number}}</td>
          <td>{{store.store_size}}</td>
          <td>{{store.sector}}</td>
          <td>{{store.business}}</td>
          <td class="action">
            <a
              href="{{ url_for('more_stores', store_number=store.store_number) }}"
              class="btn"
              >Details</a
            >
            <a
              href="{{ url_for('delete_store', store_number=store.store_number) }}"
              class="delete"
              ><ion-icon name="close-outline"></ion-icon
            ></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<div class="export-container">
  <a href="{{url_for('export_excel')}}" class="export">Export to Excel</a>
</div>
{% endblock %}
