{% extends '/super_admin/base.html' %} {% block heading %} Artisans {% endblock
%} {% block content %}
<div class="content-container">
  <div class="head">
    <h1>Artisan Registration</h1>
  </div>
  <form
    action="{{ url_for('add_artisan') }}"
    method="post"
    enctype="multipart/form-data">
    <div class="store-detail">
      <h2>Personal Details</h2>
      <div class="image-container">
        <img
          id="preview-image"
          src="{{ url_for('static', filename='images/') if image else url_for('static', filename='images/user.jpg') }}"
          alt="Profile Image"
          class="imagee" />
        <input
          type="file"
          name="image"
          id="image"
          accept="image/*"
          onchange="previewImage(this)" />
        <label for="image" class="custom-file-upload">Upload Image</label>
      </div>

      <div>
        <div class="details-input">
          <label for="name">Full Name <span class="hash">*</span></label>
          <input
            type="text"
            name="name"
            id="name"
            placeholder="Name"
            required />
        </div>
      </div>
      <div>
        <div class="details-input">
          <label>Gender <span>*</span></label>
          <select name="gender" id="gender" required>
            <option value="" selected></option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
        </div>
      </div>
      <div>
        <div class="details-input">
          <label for="number"
            >Telephone Number <span class="hash">*</span></label
          >
          <input
            type="number"
            name="number"
            id="number"
            placeholder="Telephone Number"
            required />
        </div>
      </div>
      <div>
        <div class="details-input">
          <label for="birth">Date Of Birth <span class="hash">*</span></label>
          <input
            type="date"
            name="birth"
            id="birth"
            placeholder="Date Of Birth"
            required />
        </div>
      </div>
      <div>
        <div class="details-input">
          <label for="nationality"
            >Nationality <span class="hash">*</span></label
          >
          <input
            type="text"
            name="nationality"
            id="nationality"
            placeholder="Nationality"
            required />
        </div>
      </div>
      <div>
        <div class="details-input">
          <label for="email"
            >Email <span class="optional">(Optional)</span></label
          >
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Email"
            required />
        </div>
      </div>
      <div class="details-input">
        <label>Type Of ID <span>*</span></label>
        <select name="card" id="card" required>
          <option value="" selected></option>
          <option value="Ghana Card">Ghana Card</option>
          <option value="Voters ID Card">Voters ID Card</option>
          <option value="Passport">Passport</option>
        </select>
      </div>
      <div id="dynamic-form" class="dynamic"></div>
      <div>
        <div class="details-input">
          <label>Photo Of ID Card <span class="hash">*</span></label>
          <input
            type="file"
            name="id_image"
            id="id_image"
            accept="image/*"
            required />
        </div>
      </div>
      <div>
        <div class="details-input">
          <label for="address"
            >Postal Address <span class="optional">(Optional)</span></label
          >
          <input
            type="text"
            name="postal_address"
            id="postal_address"
            placeholder="Postal Address"
            oninput="formatWorkshopGPS(this)"
            required />
        </div>
      </div>
      <div>
        <div class="details-input">
          <label for="gps_address"
            >GPS Address <span class="optional">(Optional)</span></label
          >
          <input
            type="text"
            name="gps_address"
            id="gps_address"
            placeholder="GPS Address"
            oninput="formatWorkshopGPS(this)"
            required />
        </div>
      </div>

      <h2>Profession Details</h2>
      <div>
        <div class="details-input">
          <label for="profession">Profession <span class="hash">*</span></label>
          <input
            type="text"
            name="profession"
            id="profession"
            placeholder="Profession"
            required />
        </div>
      </div>
      <div>
        <div class="details-input">
          <label for="years"
            >Years In Profession <span class="hash">*</span></label
          >
          <input
            type="number"
            name="years"
            id="years"
            placeholder="Years In Profession"
            required />
        </div>
      </div>
      <div>
        <div class="details-input">
          <label for="workshop"
            >Workshop Location <span class="optional">(Optional)</span></label
          >
          <input
            type="text"
            name="workshop"
            id="workshop"
            placeholder="Workshop Location"
            oninput="formatWorkshopGPS(this)"
            required />
        </div>
      </div>
      <div class="details-input">
        <label for="workshop_gps"
          >Workshop GPS Address<span class="optional">(Optional)</span></label
        >
        <input
          type="text"
          name="workshop_gps"
          id="workshop_gps"
          placeholder="Workshop GPS Address"
          oninput="formatWorkshopGPS(this)"
          required />
      </div>

      <div>
        <div class="details-input">
          <label for="registration"
            >Date Of Registration <span class="hash">*</span></label
          >
          <input
            type="date"
            name="registration"
            id="registration"
            placeholder="Date Of Registration"
            required />
        </div>
      </div>
    </div>

    <div class="store-detail">
      <h2>Association Details</h2>
      <div>
        <div class="details-input">
          <label>Name Of Association<span class="hash">*</span></label>
          <input
            type="text"
            name="association_name"
            id="association_name"
            placeholder="Name Of Association"
            required />
        </div>
      </div>
      <div>
        <div class="details-input">
          <label
            >Name Of The President/Chairperson<span class="hash">*</span></label
          >
          <input
            type="text"
            name="association_president"
            id="association_president"
            placeholder="Name Of President/Chairperson"
            required />
        </div>
      </div>
      <div>
        <div class="details-input">
          <label
            >Tell No. Chairperson/President<span class="hash">*</span></label
          >
          <input
            type="number"
            name="association_number"
            id="association_number"
            placeholder="Tell No. Chairperson/Presidentn"
            required />
        </div>
      </div>
    </div>

    <div class="store-detail">
      <h2>Parent Details</h2>
      <div>
        <div class="details-input">
          <label for="Father">Father's Name <span class="hash">*</span></label>
          <input
            type="text"
            name="father"
            id="father"
            placeholder="Father's Name"
            required />
        </div>
      </div>
      <div class="details-input">
        <label>Father's Status <span>*</span></label>
        <select name="father_status" id="father_status" required>
          <option value="" selected></option>
          <option value="Alive">Alive</option>
          <option value="Dead">Dead</option>
        </select>
      </div>
      <div id="dynamic-form-father" class="dynamic"></div>
      <div>
        <div class="details-input">
          <label for="mother">Mother's Name <span class="hash">*</span></label>
          <input
            type="text"
            name="mother"
            id="mother"
            placeholder="Mother's Name"
            required />
        </div>
      </div>
      <div class="details-input">
        <label>Mother's Status <span>*</span></label>
        <select name="mother_status" id="mother_status" required>
          <option value="" selected></option>
          <option value="Alive">Alive</option>
          <option value="Dead">Dead</option>
        </select>
      </div>
      <div id="dynamic-form-mother" class="dynamic"></div>
    </div>

    <div class="store-detail">
      <h2>Staff</h2>
      <div class="details-input">
        <label for="staff">Staff Name:</label>
        <input
          type="text"
          name="staff"
          id="staff"
          placeholder="Staff Name"
          value="{{ username }}"
          disabled
          required />
        <input type="hidden" name="staff" value="{{ username }}" />
      </div>
    </div>

    <div class="input-submit">
      <input type="submit" value="Submit" />
    </div>
  </form>
</div>

<script>
  const cardSelected = document.getElementById("card");
  const dynamicFormContainer = document.getElementById("dynamic-form");

  cardSelected.addEventListener("change", () => {
    const selectedCard = cardSelected.value;
    dynamicFormContainer.innerHTML = ""; // Clear any previous form

    if (selectedCard === "Ghana Card" || selectedCard === "Passport") {
      // Generate the printer or photocopier form
      dynamicFormContainer.innerHTML = `
      <div>
        <div class="details-input">
          <label for="card_number"
            >Card Number <span class="hash">*</span></label
          >
          <input
            type="text"
            name="card_number"
            id="card_number"
            placeholder="Card Number"
            required />
        </div>
      </div>
          `;
    } else if (selectedCard === "Voters ID Card") {
      // Hide the access input for roles other than ADMIN
      dynamicFormContainer.innerHTML = `
      <div>
        <div class="details-input">
          <label for="card_number"
            >Card Number <span class="hash">*</span></label
          >
          <input
            type="number"
            name="card_number"
            id="card_number"
            placeholder="Card Number"
            required />
        </div>
      </div>
          `;
    }
  });

  const dynamicFather = document.getElementById("dynamic-form-father");
  const father = document.getElementById("father_status");

  father.addEventListener("change", () => {
    const selectedFather = father.value;
    dynamicFather.innerHTML = ""; // Clear any previous form

    if (selectedFather === "Alive") {
      // Generate the printer or photocopier form
      dynamicFather.innerHTML = `
      <div>
        <div class="details-input">
          <label for="f_number"
            >Telephone Number <span class="hash">*</span></label
          >
          <input
            type="number"
            name="f_number"
            id="f_number"
            placeholder="Telephone Number"
            required />
        </div>
      </div>
          `;
    }
  });

  const dynamicMother = document.getElementById("dynamic-form-mother");
  const mother = document.getElementById("mother_status");

  mother.addEventListener("change", () => {
    const selectedMother = mother.value;
    dynamicMother.innerHTML = ""; // Clear any previous form

    if (selectedMother === "Alive") {
      // Generate the printer or photocopier form
      dynamicMother.innerHTML = `
      <div>
        <div class="details-input">
          <label for="m_number"
            >Telephone Number <span class="hash">*</span></label
          >
          <input
            type="number"
            name="m_number"
            id="m_number"
            placeholder="Telephone Number"
            required />
        </div>
      </div>
          `;
    }
  });

  function formatWorkshopGPS(input) {
    // Remove any existing hyphens and non-alphanumeric characters
    let cleanValue = input.value.replace(/[^a-zA-Z0-9]/g, "");

    // Check if the input has at least one character
    if (cleanValue.length > 0) {
      // Extract the first three characters as a prefix
      const prefix = cleanValue.substring(0, 3);

      // Check if there are remaining characters for formatting
      if (cleanValue.length > 3) {
        // Format the remaining characters with hyphens
        const formattedValue =
          prefix +
            "-" +
            cleanValue
              .substring(3)
              .match(/.{1,4}/g)
              ?.join("-") || "";

        // Limit the total length to 15 characters
        input.value = formattedValue.slice(0, 18);
      } else {
        // If only three or fewer characters, set the value with the prefix
        input.value = prefix;
      }
    } else {
      // Reset the input if it's empty
      input.value = "";
    }
  }

  function previewImage(input) {
    const preview = document.getElementById("preview-image");

    if (input.files && input.files[0]) {
      const reader = new FileReader();

      reader.onload = function (e) {
        preview.src = e.target.result;
      };

      reader.readAsDataURL(input.files[0]);
    }
  }
</script>

{% endblock %}
