{% extends '/super_admin/base.html' %} {% block heading %} Artisans {% endblock
%} {% block content %}
<div class="content-container">
  <div class="head">
    <h1>Artisan Registration</h1>
  </div>
  <form
    action="{{ url_for('update_artisan', id=artisan.id) }}"
    method="post"
    enctype="multipart/form-data">
    <div class="store-detail">
      <h2>Personal Details</h2>
      <div class="image-container">
        <img
          id="preview-image"
          src="{% if artisan.image %}{{ url_for('static', filename='images/' + artisan.image) }}{% else %}{{ url_for('static', filename='images/user.jpg') }}{% endif %}"
          alt="Profile Image"
          class="imagee" />
        <input
          type="file"
          name="image"
          id="image"
          accept="image/*"
          onchange="previewImage(this)" />
        <label for="image" class="custom-file-upload">Upload Image</label>
      </div>

      <div>
        <div class="details-input">
          <label for="name">Full Name <span class="hash">*</span></label>
          <input
            type="text"
            name="name"
            id="name"
            placeholder="Name"
            value="{{ artisan.name }}"
            required />
        </div>
      </div>
      <div>
        <div class="details-input">
          <label>Gender <span>*</span></label>
          <select name="gender" id="gender" required>
            <option value="" {% if artisan.gender=='' %}selected{% endif %}></option>
            <option value="Male" {% if artisan.gender=='Male' %}selected{% endif %}>Male</option>
            <option value="Female" {% if artisan.gender=='Female' %}selected{% endif %}>Female</option>
          </select>
        </div>
      </div>
      <div>
        <div class="details-input">
          <label for="number"
            >Telephone Number <span class="hash">*</span></label
          >
          <input
            type="number"
            name="number"
            id="number"
            placeholder="Telephone Number"
            value="{{ artisan.phone_number }}"
            required />
        </div>
      </div>
      <div>
        <div class="details-input">
          <label for="birth">Date Of Birth <span class="hash">*</span></label>
          <input
            type="date"
            name="birth"
            id="birth"
            placeholder="Date Of Birth"
            value="{{ artisan.birth }}"
            required />
        </div>
      </div>
      <div>
        <div class="details-input">
          <label for="nationality"
            >Nationality <span class="hash">*</span></label
          >
          <input
            type="text"
            name="nationality"
            id="nationality"
            placeholder="Nationality"
            value="{{ artisan.nationality }}"
            required />
        </div>
      </div>
      <div>
        <div class="details-input">
          <label for="email"
            >Email <span class="optional">(Optional)</span></label
          >
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Email"
            value="{{ artisan.email }}"
            required />
        </div>
      </div>
      <div class="details-input">
        <label>Type Of ID <span>*</span></label>
        <select name="card" id="card" required>
          <option value="" {% if artisan.id_type=='' %}selected{% endif %}></option>
          <option value="Ghana Card" {% if artisan.id_type=='Ghana Card' %}selected{% endif %}>Ghana Card</option>
          <option value="Voters ID Card" {% if artisan.id_type=='Voters ID Card' %}selected{% endif %}>Voters ID Card</option>
          <option value="Passport" {% if artisan.id_type=='Passport' %}selected{% endif %}>Passport</option>
        </select>
      </div>
      <div id="dynamic-form" class="dynamic"></div>
      <div>
        <div class="details-input">
          <label>Photo Of ID Card <span class="hash">*</span></label>
          <input
            type="file"
            name="id_image"
            id="id_image"
            accept="image/*"
             />
        </div>
      </div>
      <div>
        <div class="details-input">
          <label for="address"
            >Postal Address <span class="optional">(Optional)</span></label
          >
          <input
            type="text"
            name="postal_address"
            id="postal_address"
            placeholder="Postal Address"
            value="{{ artisan.home_postal }}"
            oninput="formatPostal(this)"
            required />
        </div>
      </div>
      <div>
        <div class="details-input">
          <label for="gps_address"
            >GPS Address <span class="optional">(Optional)</span></label
          >
          <input
            type="text"
            name="gps_address"
            id="gps_address"
            placeholder="GPS Address"
            value="{{ artisan.home_gps }}"
            oninput="formatGPS(this)"
            required />
        </div>
      </div>

      <h2>Profession Details</h2>
      <div>
        <div class="details-input">
          <label for="profession">Profession <span class="hash">*</span></label>
          <input
            type="text"
            name="profession"
            id="profession"
            placeholder="Profession"
            value="{{ artisan.profession }}"
            required />
        </div>
      </div>
      <div>
        <div class="details-input">
          <label for="years"
            >Years In Profession <span class="hash">*</span></label
          >
          <input
            type="number"
            name="years"
            id="years"
            placeholder="Years In Profession"
            value="{{ artisan.year_profession }}"
            required />
        </div>
      </div>
      <div>
        <div class="details-input">
          <label for="workshop"
            >Workshop Location <span class="optional">(Optional)</span></label
          >
          <input
            type="text"
            name="workshop"
            id="workshop"
            placeholder="Workshop Location"
            value="{{ artisan.shop_location }}"
            required />
        </div>
      </div>
      <div class="details-input">
        <label for="workshop_gps"
          >Workshop GPS Address<span class="optional">(Optional)</span></label
        >
        <input
          type="text"
          name="workshop_gps"
          id="workshop_gps"
          placeholder="Workshop GPS Address"
          oninput="formatGPS(this)"
          value="{{ artisan.shop_gps }}"
          required />
      </div>

      <div>
        <div class="details-input">
          <label for="registration"
            >Date Of Registration <span class="hash">*</span></label
          >
          <input
            type="date"
            name="registration"
            id="registration"
            placeholder="Date Of Registration"
            value="{{ artisan.date_registered }}"
            required />
        </div>
      </div>
    </div>

    <div class="store-detail">
      <h2>Parent Details</h2>
      <div>
        <div class="details-input">
          <label for="Father">Father's Name <span class="hash">*</span></label>
          <input
            type="text"
            name="father"
            id="father"
            placeholder="Father's Name"
            value="{{ artisan.fathers_name }}"
            required />
        </div>
      </div>
      <div class="details-input">
        <label>Father's Status <span>*</span></label>
        <select name="father_status" id="father_status" required>
          <option value="" {% if artisan.fathers_status=='' %}selected{% endif %}></option>
          <option value="Alive"{% if artisan.fathers_status=='Alive' %}selected{% endif %}>Alive</option>
          <option value="Dead"{% if artisan.fathers_status=='Dead' %}selected{% endif %}>Dead</option>
        </select>
      </div>
      <div id="dynamic-form-father" class="dynamic"></div>
      <div>
        <div class="details-input">
          <label for="mother">Mother's Name <span class="hash">*</span></label>
          <input
            type="text"
            name="mother"
            id="mother"
            placeholder="Mother's Name"
            value="{{ artisan.mothers_name }}"
            required />
        </div>
      </div>
      <div class="details-input">
        <label>Mother's Status <span>*</span></label>
        <select name="mother_status" id="mother_status" required>
          <option value="" {% if artisan.mothers_status=='' %}selected{% endif %} selected></option>
          <option value="Alive"{% if artisan.mothers_status=='Alive' %}selected{% endif %}>Alive</option>
          <option value="Dead"{% if artisan.mothers_status=='Dead' %}selected{% endif %}>Dead</option>
        </select>
      </div>
      <div id="dynamic-form-mother" class="dynamic"></div>
    </div>

    <div class="store-detail">
      <h2>Staff</h2>
      <div class="details-input">
        <label for="staff">Staff Name:</label>
        <input
          type="text"
          name="staff"
          id="staff"
          placeholder="Staff Name"
          value="{{ username }}"
          disabled
          required />
        <input type="hidden" name="staff" value="{{ username }}" />
      </div>
    </div>

    <div class="input-submit">
      <input type="submit" value="Add" />
    </div>
  </form>
</div>

<script>
  const cardSelected = document.getElementById("card");
  const dynamicFormContainer = document.getElementById("dynamic-form");
  const cardNumberInput = document.getElementById("card_number");
  
  function createCardNumberInputNumber() {
    return `
      <div>
        <div class="details-input">
          <label for="card_number"
            >Card Number <span class="hash">*</span></label
          >
          <input
            type="number"
            name="card_number"
            id="card_number"
            placeholder="Card Number"
            value="{{ artisan.id_number }}"
            required />
        </div>
      </div>
    `;
  }

  function createCardNumberInputText() {
    return `
      <div>
        <div class="details-input">
          <label for="card_number"
            >Card Number <span class="hash">*</span></label
          >
          <input
            type="text"
            name="card_number"
            id="card_number"
            placeholder="Card Number"
            value="{{ artisan.id_number }}"
            required />
        </div>
      </div>
    `;
  }

  // Initial form generation on page load
  if (cardSelected.value === "Ghana Card" || cardSelected.value === "Passport") {
    dynamicFormContainer.innerHTML = createCardNumberInputText();
  } else if (cardSelected.value === "Voters ID Card") {
    dynamicFormContainer.innerHTML = createCardNumberInputNumber();
  }

  cardSelected.addEventListener("change", () => {
    const selectedCard = cardSelected.value;
    dynamicFormContainer.innerHTML = ""; // Clear any previous form

    if (selectedCard === "Ghana Card" || selectedCard === "Passport") {
      dynamicFormContainer.innerHTML = createCardNumberInputText();
    } else if (selectedCard === "Voters ID Card") {
      dynamicFormContainer.innerHTML = createCardNumberInputNumber();
    } else {
      dynamicFormContainer.innerHTML = '';
    }
  });
  


  const dynamicFather = document.getElementById("dynamic-form-father");
  const father = document.getElementById("father_status");
  const fatherNumberInput = document.getElementById("f_number");

    // Function to create the telephone number input
    function createTelephoneNumberInputFather() {
        return `
            <div>
                <div class="details-input">
                    <label for="f_number">Telephone Number <span class="hash">*</span></label>
                    <input
                        type="number"
                        name="f_number"
                        id="f_number"
                        placeholder="Telephone Number"
                        value="{{ artisan.fathers_number }}"
                        required />
                </div>
            </div>
        `;
    }

    // Initial check on page load
    if (father.value === "Alive") {
        dynamicFather.innerHTML = createTelephoneNumberInputFather();
    }

    father.addEventListener("change", () => {
        const selectedFather = father.value;
        dynamicFather.innerHTML = ""; // Clear any previous form

        if (selectedFather === "Alive") {
            // Generate the input for Father's telephone number
            dynamicFather.innerHTML = createTelephoneNumberInputFather();
        }else {
          // Clear the input if the father is dead
          fatherNumberInput.value = "";
      }
  });


  const dynamicMother = document.getElementById("dynamic-form-mother");
  const mother = document.getElementById("mother_status");
  const motherNumberInput = document.getElementById("m_number");

  // Function to create the telephone number input
  function createTelephoneNumberInputMother() {
      return `
          <div>
              <div class="details-input">
                  <label for="m_number">Telephone Number <span class="hash">*</span></label>
                  <input
                      type="number"
                      name="m_number"
                      id="m_number"
                      placeholder="Telephone Number"
                      value="{{ artisan.mothers_number }}"
                      required />
              </div>
          </div>
      `;
  }

  // Initial check on page load
  if (mother.value === "Alive") {
      dynamicMother.innerHTML = createTelephoneNumberInputMother();
  }

  mother.addEventListener("change", () => {
      const selectedMother = mother.value;
      dynamicMother.innerHTML = ""; // Clear any previous form

      if (selectedMother === "Alive") {
          // Generate the input for Mother's telephone number
          dynamicMother.innerHTML = createTelephoneNumberInputMother();
      } else {
          // Clear the input if the mother is dead
          motherNumberInput.value = "";
      }
  });


  function formatGPS(input) {
    // Remove any existing hyphens and non-alphanumeric characters
    let cleanValue = input.value.replace(/[^a-zA-Z0-9]/g, "");

    // Check if the input has at least one character
    if (cleanValue.length > 0) {
      // Extract the first three characters as a prefix
      const prefix = cleanValue.substring(0, 3);

      // Check if there are remaining characters for formatting
      if (cleanValue.length > 3) {
        // Format the remaining characters with hyphens
        const formattedValue =
          prefix +
            "-" +
            cleanValue
              .substring(3)
              .match(/.{1,4}/g)
              ?.join("-") || "";

        // Limit the total length to 15 characters
        input.value = formattedValue.slice(0, 18);
      } else {
        // If only three or fewer characters, set the value with the prefix
        input.value = prefix;
      }
    } else {
      // Reset the input if it's empty
      input.value = "";
    }
  }

  function formatPostal(input) {
    // Remove any existing hyphens and non-alphanumeric characters
    let cleanValue = input.value.replace(/[^a-zA-Z0-9]/g, "");

    // Check if the input has at least one character
    if (cleanValue.length > 0) {
      // Extract the first three characters as a prefix
      const prefix = cleanValue.substring(0, 3);

      // Check if there are remaining characters for formatting
      if (cleanValue.length > 3) {
        // Format the remaining characters with hyphens
        const formattedValue =
          prefix +
            "-" +
            cleanValue
              .substring(3)
              .match(/.{1,3}/g)
              ?.join("-") || "";

        // Limit the total length to 15 characters
        input.value = formattedValue.slice(0, 18);
      } else {
        // If only three or fewer characters, set the value with the prefix
        input.value = prefix;
      }
    } else {
      // Reset the input if it's empty
      input.value = "";
    }
  }

  function previewImage(input) {
    const preview = document.getElementById("preview-image");

    if (input.files && input.files[0]) {
      const reader = new FileReader();

      reader.onload = function (e) {
        preview.src = e.target.result;
      };

      reader.readAsDataURL(input.files[0]);
    }
  }
</script>

{% endblock %}
