{% extends '/super_admin/base.html' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/store-reg.css')}}">
{% endblock %}

{% block heading %}
Staff
{% endblock %}

{% block content %}
<div class="content-container">
    <div class="head">
        <h1>Staff Registration</h1>
    </div>
    <form action="{{ url_for('staff_add') }}" method="post">
        <div class="store-detail">
            <h2>Staff Detail</h2>
            <div class="store-detail">
                <div>
                    <div class="details-input">
                        <label>Username <span>*</span></label>
                        <input type="text" name="username" id="username" placeholder="Username" required>
                    </div>
                </div>
                <div>
                    <div class="details-input">
                        <label>Tel Number <span>*</span></label>
                        <input type="number" name="telnumber" id="telnumber" placeholder="Tel Number" required>
                    </div>
                    <div class="details-input" required>
                        <label>Gender <span>*</span></label>
                        <select name="gender" id="gender" required>
                            <option value="" selected></option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </div>
                    <div class="details-input">
                        <label>Email <span>*</span></label>
                        <input type="email" name="email" id="email" placeholder="Email" required value=""
                            pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}">
                    </div>
                    <div class="details-input" required>
                        <label>Role <span>*</span></label>
                        <select name="role" id="role" required>
                            <option value="" selected></option>
                            <option value="SUPER ADMIN">SUPER ADMIN</option>
                            <option value="ADMIN">ADMIN</option>
                            <option value="DATA ENTRY">DATA ENTRY</option>
                        </select>
                    </div>
                    <div id="dynamic-form" class="dynamic"></div>
                    <div class="details-input">
                        <label>Password <span>*</span></label>
                        <input type="password" name="password" id="password" placeholder="Password" required>
                    </div>
                    
                </div>
            </div>
            <div class="input-submit">
                <input type="submit" value="Register">
            </div>
    </form>
</div>
<script>
    const roleSelected = document.getElementById("role");
    const dynamicFormContainer = document.getElementById("dynamic-form");
  
    roleSelected.addEventListener("change", () => {
      const selectedRole = roleSelected.value;
      dynamicFormContainer.innerHTML = ""; // Clear any previous form
  
      if (selectedRole === "DATA ENTRY") {
        // Generate the printer or photocopier form
        dynamicFormContainer.innerHTML = `
                    <div class="details-input" required>
                        <label>Access <span>*</span></label>
                        <select name="access" id="access" required>
                            <option value="" selected></option>
                            <option value="Store Rent">Store Rent</option>
                            <option value="Assets">Assets</option>
                            <option value="Stores Management">Stores Management</option>
                            <option value="Artisan">Artisan</option>
                            <option value="Client Service Unit">Client Service Unit</option>
                            <option value="Records Management Unit">Records Management Unit</option>
                            <option value="Notification">Notification</option>
                        </select>
                    </div>
                `;
      } else if(selectedRole === "ADMIN"){
        dynamicFormContainer.innerHTML = `
        <div class="checkbox-table">
            <label>Access <span class="hash">*</span></label>
            <table>
                <thead>
                    <tr>
                        <th>Store Rent</th>
                        <th>Asset</th>
                        <th>Stores Management</th>
                        <th>Artisan</th>
                        <th>Client Service Unit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="checkbox" name="access" id="access_store_rent" value="Store Rent"></td>
                        <td><input type="checkbox" name="access" id="access_asset" value="Asset"></td>
                        <td><input type="checkbox" name="access" id="access_stores_management" value="Stores Management"></td>
                        <td><input type="checkbox" name="access" id="access_artisan" value="Artisan"></td>
                        <td><input type="checkbox" name="access" id="access_cs" value="Client Service Unit"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        `
      }
      else {
          dynamicFormContainer.innerHTML = `

        `;
      }
    });
  
  </script>
{% endblock %}