{% extends '/super_admin/base.html' %}
{% block heading %} Departments {% endblock %}
{% block content %}
<div class="content-container">
  <div class="head">
    <h1>Department Registration</h1>
  </div>
  <form action="{{ url_for('form2') }}" method="post">
    <div class="store-detail">
      <h2>Unit Form Detail</h2>
      <div>
        <div class="details-input" required>
            <label>Department Name <span class="hash">*</span></label>
            <select name="department" id="department" required>
                <option value="" selected></option>
                {% for department in departments %}
                <option value="{{ department }}">{{ department }}</option>
                {% endfor %}
            </select>
          </div>
        <div class="details-input">
          <label for="unit">Unit Name <span class="hash">*</span></label>
          <input type="text" name="unit" id="unit" placeholder="Unit" required />
        </div>
      </div>
    </div>
    
    <div class="input-submit">
      <input type="submit" value="Add">
    </div>
  </form>
</div>
</div>
{% endblock %}
