{% extends '/admin/base.html' %} {% block heading %} Stores Management {%
endblock %} {% block content %}
<div class="content-container">
  <h1>Item Details</h1>
  <div class="all-container">
    <div class="details-container">
      <div class="titles">
        <h2>Store Id:{{ sms.id }}</h2>
      </div>
      <div class="content-text">
        <h3>Item Purchased:</h3>
        <p>{{ sms.item }}</p>
      </div>
      <div class="content-text">
        <h3>Item Serial Number:</h3>
        <p>{{ sms.serial_number }}</p>
      </div>
      <div class="content-text">
        <h3>Quantity Requested:</h3>
        <p>{{ sms.quantity_requested }}</p>
      </div>
      <div class="content-text">
        <h3>Quantity Received:</h3>
        <p>{{ sms.quantity_received }}</p>
      </div>
      <div class="content-text">
        <h3>Quantity Difference:</h3>
        <p>{{ sms.difference }}</p>
      </div>
      <div class="content-text">
        <h3>Company Name/Supplier:</h3>
        <p>{{ sms.supplier_name }}</p>
      </div>
      <div class="content-text">
        <h3>Requesting Department:</h3>
        <p>{{ sms.requested_dept }}</p>
      </div>
      <div class="content-text">
        <h3>Date Recieved:</h3>
        <p>{{ sms.date_recieved }}</p>
      </div>
      <div class="content-text">
        <h3>Staff:</h3>
        <p>{{ sms.staff }}</p>
      </div>
    </div>
    <div class="actions">
      <a class="green" href="{{ url_for('admin_back') }}">Back</a>
    </div>
  </div>
</div>
{% endblock %}
