{% extends '/super_admin/base.html' %}
{% block heading %} Stores Management {% endblock %}
{% block content %}
<div class="content-container">
  <div class="head">
    <h1>Item Dispatch Registration</h1>
  </div>
  <form action="{{ url_for('sms_dispatch') }}" method="post">
    <div class="store-detail">
      <h2>Dispatch Details</h2>
      <div>
        <div>
          <div class="details-input">
            <label>Store Requisition/Voucher Number <span class="hash">*</span></label>
            <input type="text" name="requisition" id="requisition" placeholder="Store Requisition/Voucher Number" required />
          </div>
          <div class="details-input">
            <label>Dispatch <span class="hash">*</span></label>
            <select name="dispatch" id="dispatch" required>
              <option value="" selected></option>
              <option value="Internal">Internal</option>
              <option value="External">External</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <div style=`{{ display }}`>
      <div class="details-input">
        <label>Quantity Type <span class="hash">*</span></label>
        <select name="quantity_type" id="type" required>
          <option value="" selected></option>
          <option value="Bulk">Bulk</option>
          <option value="Single">Single</option>
        </select>
      </div>

      <div class="dynamic" id="dynamic-form"></div>
    </div>

    <div id="dynamic"></div>

    <div class="store-detail">
      <h2>Staff</h2>
      <div class="details-input">
        <label for="staff">Staff Name:</label>
        <input type="text" name="staff" id="staff" placeholder="Staff Name" value="{{ username }}" readonly required />
        <input type="hidden" name="staff" value="{{ username }}" />
      </div>
    </div>
    <div class="input-submit">
      <input type="submit" value="Add">
    </div>
  </form>
</div>
</div>

<script>
  const dynamic = document.getElementById('dynamic');
  const dispatch = document.getElementById('dispatch');
  
  let display = (dispatch.value === 'Internal') ? 'display: block;' : 'display: none;';


  dispatch.addEventListener('change', () => {
    const dispatchValue = dispatch.value;
    dynamic.innerHTML = "";

    display = (dispatchValue === "Internal") ? style="display: block;" : style="display: none;";

    if (dispatchValue === "Internal") {
      dynamic.innerHTML = `
      <div class="details-input">
        <label>Name Of Officer Receiving The Item <span class="hash">*</span></label>
        <input type="text" name="officer" id="officer" placeholder="Name Of Officer" required />
      </div>

      <div class="details-input">
        <label>Department/Unit <span class="hash">*</span></label>
        <input type="text" name="department" id="department" placeholder="Department/Unit" required />
      </div>

      <div class="details-input">
        <label>Date Received <span class="hash">*</span></label>
        <input type="date" name="date_received" id="date_received" placeholder="Date Received" required />
      </div>

      <div class="details-input">
        <div class="textfield">
          <label>Description <span class="hash">*</span></label>
          <textarea
            name="desc"
            id="desc"
            cols="30"
            rows="20"
            placeholder="Type here"></textarea>
        </div>
      </div>
      `;

      dynamic2.innerHTML = `
      
      `
    } else if (dispatchValue === "External") {
      dynamic.innerHTML = `
      <div class="details-input">
        <label for="item">Item <span class="hash">*</span></label>
        <input type="text" name="item" id="item" placeholder="Item Purchased" required />
      </div>

      <div class="details-input">
        <label>Quantity <span class="hash">*</span></label>
        <input type="number" name="quantity" id="quantity" placeholder="Quantity" required />
      </div>

      <div class="details-input">
        <label>Name Of Person Receiving The Item <span class="hash">*</span></label>
        <input type="text" name="person" id="person" placeholder="Name Of Person" required />
      </div>

      <div class="details-input">
        <label>Telephone Number <span class="hash">*</span></label>
        <input type="number" name="number" id="number" placeholder="Telephone Number" required />
      </div>

      <div class="details-input">
        <label>Date Received <span class="hash">*</span></label>
        <input type="date" name="date_received" id="date_received" placeholder="Date Received" required />
      </div>

      <div class="details-input">
        <div class="textfield">
          <label>Description <span class="hash">*</span></label>
          <textarea
            name="desc"
            id="desc"
            cols="30"
            rows="20"
            placeholder="Type here"></textarea>
        </div>
      </div>
      `;
    }
  });

  const type = document.getElementById('type');
  const dynamicForm = document.getElementById('dynamic-form');

  type.addEventListener('change', () => {
    const typeValue = type.value;
    dynamicForm.innerHTML = "";

    if (typeValue === 'Bulk') {
      dynamicForm.innerHTML = `
        <div class="details-type">
          <div class="type-generate" id="formContainer">
            <div class="details-input-generate">
              <label>Item <span class="hash">*</span></label>
              <input type="text" name="item" id="item" class="item" placeholder="Item" required />
            </div>
            <div class="details-input-generate">
              <label>Quantity <span class="hash">*</span></label>
              <input type="number" name="quantity" id="quantity" class="item" placeholder="Quantity" required />
            </div>
          </div>
        </div>
        <button class="generate-form" id="generate-form" onclick="generateNewForm()">New</button>
      `;
    } else if (typeValue === "Single") {
      dynamicForm.innerHTML = `
        <div class="details-type">
          <div class="type-generate" id="formContainer">
            <div class="details-input-generate">
              <label>Item <span class="hash">*</span></label>
              <input type="text" name="item" id="item" class="item" placeholder="Item" required />
            </div>
            <div class="details-input-generate">
              <label>Quantity <span class="hash">*</span></label>
              <input type="number" name="quantity" id="quantity" class="item" placeholder="Quantity" required />
            </div>
          </div>
        </div>
        <button class="generate-form" id="generate-form" onclick="generateNewForm()">New</button>
      `;
    }
  });

  function generateNewForm() {
    // Clone the existing form container
    var formContainer = document.getElementById('formContainer');
    var newForm = formContainer.cloneNode(true);

    // Clear input values in the cloned form
    var inputs = newForm.getElementsByTagName('input');
    for (var i = 0; i < inputs.length; i++) {
      inputs[i].value = '';
    }

    // Append the cloned form to the container
    formContainer.parentNode.appendChild(newForm);
  }
</script>

{% endblock %}
