{% extends '/super_admin/base.html' %} {% block heading %} Stores Management {%
endblock %} {% block content %}
<div class="content-container">
  <h1>Item Details</h1>
  <div class="all-container">
    <div class="details-container">
      <div class="titles">
        <h2>Store Id:{{ sms.id }}</h2>
      </div>
      <div class="content-text">
        <h3>Dispatch:</h3>
        <p>{{ sms.type }}</p>
      </div>
      <div class="content-text">
        <h3>Item Purchased:</h3>
        <p>{{ sms.item }}</p>
      </div>
      <div class="content-text">
        <h3>Quantity:</h3>
        <p>{{ sms.quantity }}</p>
      </div>
      {% if sms.officer_receiver %}
      <div class="content-text">
        <h3>Name Of Officer Receiving The Item:</h3>
        <p>{{ sms.officer_receiver }}</p>
      </div>
      <div class="content-text">
        <h3>Department/Unit:</h3>
        <p>{{ sms.department }}</p>
      </div>
      {% endif %} {% if sms.name_receiver %}
      <div class="content-text">
        <h3>Name Of Person Receiving The Item:</h3>
        <p>{{ sms.name_receiver }}</p>
      </div>
      <div class="content-text">
        <h3>Telephone Number:</h3>
        <p>{{ sms.phone_number }}</p>
      </div>
      {% endif %}
      <div class="content-text">
        <h3>Date Recieved:</h3>
        <p>{{ sms.date_recieved }}</p>
      </div>
      <div class="content-text">
        <h3>Description:</h3>
        <p>{{ sms.description }}</p>
      </div>
      <div class="content-text">
        <h3>Staff:</h3>
        <p>{{ sms.staff }}</p>
      </div>
    </div>
    <div class="actions">
      <a class="green" href="{{ url_for('back') }}">Back</a>
      <a class="blue" href="{{url_for('sms_update', id=sms.id)}}">Edit</a>
    </div>
  </div>
</div>
{% endblock %}
